{% extends 'includes/base.html' %}
{% load static %}


{% block content %}


    <section class="section-conten padding-y bg">

        {% include 'includes/alerts.html' %}

        <div class="container">
            <div class="row">
                {% include 'includes/dashboard_sidebar.html' %}
                <main class="col-md-9">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3">Parola Güncelleme</strong>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{% url 'url_changePassword' %}" method="POST">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label>Mevcut Parola</label>
                                            <input type="password" name="old_password"
                                                   placeholder="Mevcut parolanınızı giriniz" class="form-control">
                                            {% for error in form.old_password.errors %}
                            <p class='text-danger'>{{ error }}</p>
                        {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <label>Yeni Parola</label>
                                            <input type="password" name="new_password1" placeholder="Yeni parolanınızı giriniz"
                                                   class="form-control" >
                                               {% for error in form.new_password1.errors %}
                            <p class='text-danger'>{{ error }}</p>
                        {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <label>Parola Tekrarı</label>
                                            <input type="password" name="new_password2"
                                                   placeholder="Yeni parolanınızı tekrar giriniz" class="form-control">
                                         {% for error in form.new_password2.errors %}
                            <p class='text-danger'>{{ error }}</p>
                        {% endfor %}
                                        </div>
                                        <input type="submit" value="Güncelle" class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </section>

{% endblock content %}



