{% extends 'includes/base.html' %}


{% block content %}

    <section class="section-conten padding-y" style="min-height:84vh">
        <div class="card mx-auto" style="max-width: 500px; margin-top:100px;">
            <div class="card-body">
                {% include 'includes/alerts.html' %}
                <h4 class="card-title mb-4 text-center">Yeni Parola Oluştur</h4>
                <form action="{% url 'url_resetPassword' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Parola">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password_confirm" class="form-control"
                               placeholder="Parola tekrarı">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Şifremi Sıfırla</button>
                    </div>
                </form>
            </div>
        </div>
        <p class="text-center mt-4">Hesabın Yok mu? <a href="{% url 'url_register' %}">Kayıt Ol</a></p>
        <br><br>
    </section>

{% endblock content %}

