{% load static %}
<header class="section-header">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTop4">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav">
                    <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Mail </a></li>
                    <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Bizi Ara </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-6">
                    <a href="{% url 'url_homePage' %}" class="brand-wrap">
                        <img class="logo" src="{% static 'images/logo.png' %}">
                    </a>
                </div>
                <div class="col-lg col-sm col-md col-6 flex-grow-0">
                    <div class="category-wrap dropdown d-inline-block float-right">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bars"></i> Kategoriler
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'url_store' %}">Tüm Ürünler</a>
                            {% for category in categories %}
                                <a class="dropdown-item"
                                   href="/store/category/{{ category.slug }}">{{ category.category_name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <a href="{% url 'url_store' %}" class="btn btn-outline-primary">Mağaza</a>
                <div class="col-lg  col-md-6 col-sm-12 col">
                    <form action="{% url 'url_searchProduct' %}" class="search">
                        <div class="input-group w-100">
                            <input type="text" name="keyword" class="form-control" style="width:60%;"
                                   placeholder="Ürün Ara">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        <div class="widget-header">
                            {% if user.is_authenticated %}
                                <small class="title text-muted">Hoş Geldiniz {{ user.username|title }}</small>
                                <a href="{% url 'url_profile' %}">Profilim</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'url_logout' %}"> Çıkış Yap</a>
                            {% else %}
                                <div>
                                    <small class="title text-muted">Hoş Geldiniz Ziyaretçi</small>
                                    <a href="{% url 'url_login' %}">Giriş Yap</a> <span class="dark-transp"> | </span>
                                    <a href="{% url 'url_register' %}"> Kayıt Ol</a>
                                </div>
                            {% endif %}
                        </div>
                        <a href="{% url 'url_cartList' %}" class="widget-header pl-3 ml-3">
                            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                            <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>